name: Main2DR
on:
  workflow_dispatch:
#  push: ##Running every 6 hours
 #   branches: [ "main" ]
 # pull_request:
  #  branches: [ "main" ]
 # schedule:
  #  - cron: "0 */2 * * *" 

permissions:
  id-token: write
  contents: write
  
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: myenv
    
    steps:
      # checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: 'refs/heads/main'

      - name: Read all the values from values.env and status.txt and store it in Github env variable
        run: |          
          #Read from file values.env
          while IFS='=' read -r key value; do
          echo "$key=$value" >> $GITHUB_ENV
          done < values.env
          
      - name: Ping check to artifactory both main and dr
        run: |
          ##Setting below to avoid failing complete pipeline
          set +e
          ###Ping check to SAAS_MAIN
          ARTIFACTORY_URL=${{ env.MAINJF_URL }}
          response=$(curl -s -o /dev/null -w "%{http_code}" "${ARTIFACTORY_URL}artifactory/api/system/ping")
          [ "$response" -eq 200 ] && echo "main_status=success" >> $GITHUB_ENV || echo "main_status=fail" >> $GITHUB_ENV
          
          ###Ping check to SAAS_DR
          DRARTIFACTORY_URL=${{ env.DRJF_URL }}
          responsedr=$(curl -s -o /dev/null -w "%{http_code}" "${DRARTIFACTORY_URL}artifactory/api/system/ping")
          [ "$responsedr" -eq 200 ] && dr_status=success || dr_status=fail
 
      - name: Fail workflow if SAAS main is down
        run: |
          if [ "$main_status" == "fail" ];then
            echo "SAAS Main is down. Exiting"
            exit 1
          fi
        
      - name: Setup JFrog CLI for SAAS main
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli-main
        env:  
          JF_URL: ${{ env.MAINJF_URL }}
        with:
          oidc-provider-name: gitoidc
          custom-server-id: ${{ env.jpdMain }}
          version: ${{ env.JFCliVersion }}

      -  name: Setup JFrog CLI SAAS DR
         uses: jfrog/setup-jfrog-cli@v4
         env:  
           JF_URL: ${{ env.DRJF_URL }}
         with:
           oidc-provider-name: gitoidc
           custom-server-id: ${{ env.jpdDr }}
           version: ${{ env.JFCliVersion }}
      
      - name: Download file status.txt from repo
        run: |
          jf rt dl $automationRepo/status.txt . --server-id=$jpdDr 

      - name: read all the values from status.txt and store it in Github env
        run: |
          #Read from file status.txt
          while IFS='=' read -r key value; do
          echo "$key=$value" >> $GITHUB_ENV
          done < status.txt

      - name: print configured JFrog CLIs details
        run: |
          jf c s

      - name: Check conditions before proceeding
        run: |
          set +e
          if [ $requestDateTime == "" ]; then 
            echo "[WARN] requestDateTime properties could NOT be found . Check if the Health Check pipeline has run on the DR side"
            exit 1
          fi
          if [ $canUpdateDR == "" ];then
            echo "[WARN] canUpdateDR properties could NOT be found . Check if the Health Check pipeline has run on the DR side"
            exit 1
          fi
          epochNow=$(date +%s)
          interval=$(expr $epochNow - $requestDateTime)
          if [ $interval -gt $HealthCheckIntervalInSec ] ; then 
            echo "[ERROR] the last update on the  statusFile  was more than $HealthCheckIntervalInSec seconds."
            exit 1
          fi
          
          if [ $canUpdateDR == "false" ] ; then
            echo "[WARN] File status.txt has : canUpdateDR=false; No sync will be pushed to the DR."
            #curl -XPOST -H "authorization: jfrogPassword_011" https://psemea-pipelines-api.jfrog.io/v1/projectIntegrations/29/hook
            curl -X POST \
              -H "Authorization: token ${{ secrets.MY_TOKEN }}" \
              -H "Accept: application/vnd.github.everest-preview+json" \
              https://api.github.com/repos/${{ github.repository }}/dispatches \
              -d '{"event_type": "trigger-my-workflow"}'
            exit 2
          fi
          
      - name: Download and install plugin proj-sync and repo-sync from DR artifactory
        run: |
          set +e
          export JFROG_CLI_PLUGINS_SERVER=$jpdMain
          export JFROG_CLI_PLUGINS_REPO=$automationRepo
          export JFROG_CLI_LOG_LEVEL=DEBUG
          sleep 1
          jf plugin install $cliPluginName@$cliPluginVersion
          sleep 1
          jf plugin install $projectPluginName@$projectPluginVersion
          
           

      - name: CreateUpdateProjects
        run: |
          export JFROG_CLI_LOG_LEVEL=DEBUG
          #~/.jfrog/plugins/proj-sync/bin/${projectPluginName} diff create $jpdMain $jpdDr

      - name: createLocalRepositories
        run: |
          cat <<EOF > repofile.yml
          localRepositories:
          - test-docker-new-qa-local
          - testgen1
          EOF
          jf $cliPluginName create local $jpdMain $jpdDr  --dry-run=false --inventory=false --repo-file repofile.yml
          exit 1
          for projName in $(curl -XGET -H "Authorization: Bearer ${{ steps.setup-cli-main.outputs.oidc-token }}" "${MAINJF_URL}access/api/v1/projects" -s | jq -r '.[].project_key')
          do
            jf $cliPluginName create local $jpdMain $jpdDr --project-key=$projName --dry-run=false --inventory=false
          done
          jf $cliPluginName create local $jpdMain $jpdDr  --dry-run=false --inventory=false

      - name: createRemoteRepositories
        run: |
          for projName in $(curl -XGET -H "Authorization: Bearer ${{ steps.setup-cli-main.outputs.oidc-token }}" "${MAINJF_URL}access/api/v1/projects" -s | jq -r '.[].project_key')
          do
                jf $cliPluginName create remote $jpdMain $jpdDr --project-key=$projName --dry-run=false --inventory=false
          done
          jf $cliPluginName create remote $jpdMain $jpdDr  --dry-run=false --inventory=false

      - name: createVirtualRepositories
        run: |
          for projName in $(curl -XGET -H "Authorization: Bearer ${{ steps.setup-cli-main.outputs.oidc-token }}" "${MAINJF_URL}access/api/v1/projects" -s | jq -r '.[].project_key')
          do
            jf $cliPluginName create virtual $jpdMain $jpdDr --project-key=$projName --dry-run=false --inventory=false
          done
          jf $cliPluginName create virtual $jpdMain $jpdDr  --dry-run=false --inventory=false

      - name: UpdateLocalRepositories
        run: |
          i=0
          N=50
          for projName in $(curl -XGET -H "Authorization: Bearer ${{ steps.setup-cli-main.outputs.oidc-token }}" "${MAINJF_URL}access/api/v1/projects" -s | jq -r '.[].project_key')
          do
                jf $cliPluginName update local $jpdMain $jpdDr --project-key=$projName --dry-run=false &
                i=`expr $i + 1`
                if [[ `expr $i % $N` == 0 ]]; then
                        wait
                fi
          done
          
      - name: UpdateRemoteRepositories
        run: |
          i=0
          N=50
          for projName in $(curl -XGET -H "Authorization: Bearer ${{ steps.setup-cli-main.outputs.oidc-token }}" "${MAINJF_URL}access/api/v1/projects" -s | jq -r '.[].project_key')
          do
                jf $cliPluginName update remote $jpdMain $jpdDr --project-key=$projName --dry-run=false &
                i=`expr $i + 1`
                if [[ `expr $i % $N` == 0 ]]; then
                        wait
                fi
          done

      - name: UpdateVirtualRepositories
        run: |
          i=0
          N=50
          for projName in $(curl -XGET -H "Authorization: Bearer ${{ steps.setup-cli-main.outputs.oidc-token }}" "${MAINJF_URL}access/api/v1/projects" -s | jq -r '.[].project_key')
          do
                jf $cliPluginName update virtual $jpdMain $jpdDr --project-key=$projName --dry-run=false &
                i=`expr $i + 1`
                if [[ `expr $i % $N` == 0 ]]; then
                        wait
                fi
          done
